/doc/reference/sample/Watcher/build/Debug/Watcher
/doc/reference/sample/Watcher/build/Debug/diritems.txt
/doc/reference/sample/Watcher/build/Debug/stream-info.txt
/lib/libeio/CVS/Entries
/lib/libeio/CVS/Repository
/lib/libeio/CVS/Root
/lib/libev/CVS/Entries
/lib/libev/CVS/Repository
/lib/libev/CVS/Root
