/doc/reference/sample/Watcher/build
/doc/reference/sample/evio.dSYM
/lib/libeio/CVS/Entries
/lib/libeio/CVS/Repository
/lib/libeio/CVS/Root
/lib/libev/CVS/Entries
/lib/libev/CVS/Repository
/lib/libev/CVS/Root
/lib/libev/.libs
/lib/libev/.deps
/lib/libev/autom4te.cache
/lib/libeio/.libs
/lib/libeio/.deps
/lib/libeio/autom4te.cache
/lib/libeio/*.o
/lib/libeio/*.lo
/lib/libeio/*.la
/lib/libev/*.o
/lib/libev/*.lo
/lib/libev/*.la



/lib/libeio/Makefile
/lib/libeio/Makefile.in
/lib/libeio/aclocal.m4
/lib/libeio/config.guess
/lib/libeio/config.h
/lib/libeio/config.h.in
/lib/libeio/config.log
/lib/libeio/config.status
/lib/libeio/config.sub
/lib/libeio/configure
/lib/libeio/install-sh
/lib/libeio/libtool
/lib/libeio/ltmain.sh
/lib/libeio/missing
/lib/libeio/stamp-h1
/lib/libev/Makefile
/lib/libev/Makefile.in
/lib/libev/aclocal.m4
/lib/libev/config.guess
/lib/libev/config.h
/lib/libev/config.h.in
/lib/libev/config.log
/lib/libev/config.status
/lib/libev/config.sub
/lib/libev/configure
/lib/libev/depcomp
/lib/libev/install-sh
/lib/libev/libtool
/lib/libev/ltmain.sh
/lib/libev/missing
/lib/libev/stamp-h1
/doc/reference/sample/evio
/doc/reference/sample/Watcher/some.txt
/lib/TAGS
/doc/reference/sample/dir.dSYM/Contents/Info.plist
/doc/reference/sample/dir.dSYM/Contents/Resources/DWARF/dir
/doc/reference/sample/dir
/doc/reference/sample/pub
/doc/reference/sample/pub.o
/doc/reference/sample/sub
/doc/reference/sample/sub.o
/doc/reference/sample/dir_flymake.plist
/doc/reference/sample/q
